body{
    background-color:deepskyblue;
    outline-color: black;
    font-family:courier;
    background:url("../images/Web wallpaper4.png");
}
a{
    text-decoration: none ;
    color:blue;
    background-color:lime;
    font-weight: bolder;
}
p{
    background-color:lime;
}
